<div>
    <h2 id="page-heading">
        <span>Conferences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conference" [routerLink]="['/conference/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Conference
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="conferences?.length === 0">
        <span>No conferences found</span>
    </div>
    <div class="table-responsive" *ngIf="conferences?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Participants</span></th>
            <th scope="col" ><span>Date</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conference of conferences ;trackBy: trackId">
                <td><a [routerLink]="['/conference', conference.id, 'view' ]">{{conference.id}}</a></td>
                <td>{{conference.name}}</td>
                <td>{{conference.participants}}</td>
                <td>{{conference.date | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conference', conference.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conference', conference.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(conference)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
